<td><%= title %></td>
<td><%= content %></td>
<td><%= rules_list %></td>
<td><%= customized_rule %></td>
<td><%= credit %></td>
<td><%= reputation %></td>
<td><%= is_blind %></td>
<td><%= is_community %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>