<div class="question_item alert-message block-message warning" id="<%=id%>">
  <h4><a href="#/<%= id %>"><%= title %></a></h4>
  <p>
    <a href="#/<%= id %>/edit">修改</a>
    <a href="#/<%= id %>/destroy" class="destroy">删除</a>
  </p>
</div>
