<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Rules list:</b>
  <%= rules_list %>
</p>

<p>
  <b>Customized rule:</b>
  <%= customized_rule %>
</p>

<p>
  <b>Credit:</b>
  <%= credit %>
</p>

<p>
  <b>Reputation:</b>
  <%= reputation %>
</p>

<p>
  <b>Is blind:</b>
  <%= is_blind %>
</p>

<p>
  <b>Is community:</b>
  <%= is_community %>
</p>


<a href="#/index">Back</a>