<div id="profile-left">
  <div id="user-img">
    <img src="<%= avatar %>">
  </div>
  
    <div id="image-tab">
      <a href="" id="edit-img"></a>
      <a href="" id="delete-img"></a>
    </div>
    <div id="relation-button">
      <button class="follow"></button>
      <button id="send-msg"></button>
    </div>
</div>
<div id="profile-middle">
  <div id="profile-userinfo">
    <div class="profile-entry-line"><%= description %></div>
    <div class="profile-entry-line"><%= location %></div>
    <div class="profile-entry-line"><%= website %></div>
    <div class="profile-entry-line"><%= created_at %></div>
  </div>
</div>
<div id="profile-right">
  <div id="profile-status">
  </div>
</div>
